# Does the Referral program work?

In [10]:
library(dplyr)
library(ggplot2)

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [7]:
df <- read.csv('referral.csv')
dim(df)

[1] 97341     6

In [8]:
summary(df)

    user_id              date          country       money_spent
 Min.   :    1   2015-11-14: 3303   UK     :15493   Min.   : 10.00
 1st Qu.: 2020   2015-11-15: 3283   FR     :15396   1st Qu.: 27.00
 Median : 4053   2015-10-31: 3233   US     :15280   Median : 42.00
 Mean   : 6355   2015-11-22: 3220   IT     :11446   Mean   : 44.69
 3rd Qu.:10286   2015-11-21: 3209   DE     :11093   3rd Qu.: 59.00
 Max.   :20000   2015-11-08: 3164   ES     : 9831   Max.   :220.00
                 (Other)   :77929   (Other):18802
  is_referral             device_id
 Min.   :0.0000   JOVUEUUQPQVXO:   35
 1st Qu.:0.0000   XLJODRPXYKPRO:   34
 Median :0.0000   KRGUOOGZKNQRQ:   33
 Mean   :0.2878   KQMNMACBAEKPP:   32
 3rd Qu.:1.0000   NWJQZEWLIUYHW:   30
 Max.   :1.0000   OMCIHDOOQWZIG:   30
                  (Other)      :97147

In [13]:
df$date[1:10][1])

 Factor w/ 56 levels "2015-10-03","2015-10-04",..: 1

In [14]:
purchase_date <- as.Date(df$date)

In [23]:
df[which(df$user_id == 2),]

      user_id       date country money_spent is_referral     device_id
1           2 2015-10-03      FR          65           0 EVDCJTZMVMJDG
8421        2 2015-10-07      US          16           0 YIRWMFPOBTDTK
11762       2 2015-10-10      IT          35           0 YIRWMFPOBTDTK
11763       2 2015-10-10      FR          43           0 YIRWMFPOBTDTK
11764       2 2015-10-10      US          21           0 YIRWMFPOBTDTK
18995       2 2015-10-13      UK          24           0 YIRWMFPOBTDTK
23449       2 2015-10-17      UK          20           0 YIRWMFPOBTDTK
23450       2 2015-10-17      ES          42           0 YIRWMFPOBTDTK
26517       2 2015-10-18      FR          94           0 YIRWMFPOBTDTK
38325       2 2015-10-25      DE          51           0 YIRWMFPOBTDTK
41476       2 2015-10-26      CA          82           0 YIRWMFPOBTDTK
46154       2 2015-10-30      UK          11           0 YIRWMFPOBTDTK
84800       2 2015-11-21      ES          48           0 YIRWMFPOBTDTK
84801       2 2015-11-21      IT          46           0 YIRWMFPOBTDTK

In [24]:
start_date <- as.Date("2015-10-31")

In [27]:
#bp <- ggplot(df, aes(is_referral, money_spent, fill=factor()))

Warning message:
In eval(expr, envir, enclos): Incompatible methods ("Ops.factor", "Ops.Date") for "<"

[1] 97341